.App-header {
  background-color: #474f5e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo {
  text-decoration: none;
  color: white;
}

.meal-grid {
  display: grid;
  gap : 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.title {
  display: grid;
  justify-items: center;
}